.text {
    font-size: 22px;
    line-height: 1.6;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}

.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.signinWrapper {
    margin-top: 20px;
}

.hasInvite {
    color: #ff0000;
}
